ul {
  list-style-type: none;
  margin: 5px
}

li {
  margin: 0.6rem;
  align-content: center
}

.app-card-list {
  display: inline;
  width: 100%;
  float: left;
  margin: 2px;
  min-height: 15rem;
  white-space: normal;
  margin-top: 20px;


}